# <span style="color:darkblue"> QTM 151 - Assignment 8 </span>

## Try to submit as an HTML file



### Print your name below

In [14]:
# Write your answer here
#Annie Lu

### Import the "pandas" library

In [15]:
import pandas as pd

### You will need the material from Lecture 14 and 15 for this assignment.



### Import the dataset "imdb_top_1000.csv" and save it as "movies." <br> 
This includes data on the top 1000 movies by IMDB rating.

In [16]:
movies=pd.read_csv("data_raw/imdb_top_1000.csv")

### (a) Groupby + Aggregate Statistics

Create a new dataset **"movies_agg"** by grouping the "movies" dataset by **"Genre"** and then computing <br>the following aggregate statistics for **"IMDB_Rating"**:

- **Mean**
- **Standard Deviation**
- **Minimum**
- **Maximum**

Add a chain to sort by the mean IMDB rating in descending order.

Display the resulting dataset **"movies_agg"**.

In [17]:
movies_agg = (
    movies.groupby("Genre")["IMDB_Rating"]
    .agg(mean="mean", std="std", min="min", max="max")
    .sort_values(by="mean", ascending=False)
)
display(movies_agg)

                            mean       std  min  max
Genre
Animation, Drama, War       8.50       NaN  8.5  8.5
Drama, Musical              8.40       NaN  8.4  8.4
Action, Sci-Fi              8.40  0.360555  8.0  8.7
Drama, Mystery, War         8.35  0.070711  8.3  8.4
Western                     8.35  0.420317  7.8  8.8
...                          ...       ...  ...  ...
Adventure, Comedy, War      7.60       NaN  7.6  7.6
Animation, Comedy, Crime    7.60       NaN  7.6  7.6
Action, Adventure, Family   7.60       NaN  7.6  7.6
Animation, Drama, Romance   7.60       NaN  7.6  7.6
Action, Adventure, Mystery  7.60       NaN  7.6  7.6

[202 rows x 4 columns]

### (b) Merge Data

Create a new dataset **"movies_merge"** by merging the aggregate information <br> 
from (a) into "movies".

Display the resulting dataset **"movies_merge"**.

In [18]:
# Write your own code
movies_merge = pd.merge(movies, movies_agg, on="Genre", how="left", suffixes=("", "_agg"))
display(movies_merge.head())

,Name,Released_Year,Length,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Gross,mean,std,min,max
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,"28,341,469",7.975294,0.305468,7.6,9.3
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,"134,966,411",8.157692,0.448262,7.6,9.2
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,"534,858,444",7.880000,0.316664,7.6,9.0
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,"57,300,000",8.157692,0.448262,7.6,9.2
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,"4,360,000",8.157692,0.448262,7.6,9.2

### (c) Rename Columns + Dictionaries

Create a new dataset **"movies_rename"** by renaming the following columns in <br>the "movies" dataset using a dictionary:

- "Name" --> **"Movie_Title"**
- "Length" --> **"Runtime"**
- "Gross" --> **"Revenue"**

Verify that this renaming worked by printing the lists of the old ("movies") and new <br>("movies_rename") column names.

In [24]:
# Write your own code
movies_rename = movies.rename(columns={"Name": "Movie_Title", "Length": "Runtime", "Gross": "Revenue"})
display(movies.columns.tolist())
display(movies_rename.columns.tolist())

['Name',
 'Released_Year',
 'Length',
 'Genre',
 'IMDB_Rating',
 'Overview',
 'Director',
 'Star1',
 'Star2',
 'Gross']

['Movie_Title',
 'Released_Year',
 'Runtime',
 'Genre',
 'IMDB_Rating',
 'Overview',
 'Director',
 'Star1',
 'Star2',
 'Revenue']

### (d) Split Data

Use ".query()" to split the "movies_rename" dataset from (c) into different parts:

- Those directed by **Steven Spielberg**, saved to a dataset titled **"movies_spielberg"**
- Those directed by **Christopher Nolan**, saved to a dataset titled **"movies_nolan"**

In [23]:
# Write your own code
movies_spielberg = movies_rename.query("Director == 'Steven Spielberg'")
movies_nolan = movies_rename.query("Director == 'Christopher Nolan'")

display(movies_spielberg)
display(movies_nolan)

,Movie_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Revenue
7,Schindler's List,1993,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,"96,898,818"
24,Saving Private Ryan,1998,169 min,"Drama, War",8.6,"Following the Normandy Landings, a group of U....",Steven Spielberg,Tom Hanks,Matt Damon,"216,540,909"
72,Raiders of the Lost Ark,1981,115 min,"Action, Adventure",8.4,"In 1936, archaeologist and adventurer Indiana ...",Steven Spielberg,Harrison Ford,Karen Allen,"248,159,971"
168,Indiana Jones and the Last Crusade,1989,127 min,"Action, Adventure",8.2,"In 1938, after his father Professor Henry Jone...",Steven Spielberg,Harrison Ford,Sean Connery,"197,171,806"
243,Catch Me If You Can,2002,141 min,"Biography, Crime, Drama",8.1,"Barely 21 yet, Frank is a skilled forger who h...",Steven Spielberg,Leonardo DiCaprio,Tom Hanks,"164,615,351"
262,Jurassic Park,1993,127 min,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Steven Spielberg,Sam Neill,Laura Dern,"402,453,882"
415,Jaws,1975,124 min,"Adventure, Thriller",8.0,When a killer shark unleashes chaos on a beach...,Steven Spielberg,Roy Scheider,Robert Shaw,"260,000,000"
682,The Color Purple,1985,154 min,Drama,7.8,A black Southern woman struggles to find her i...,Steven Spielberg,Danny Glover,Whoopi Goldberg,"98,467,863"
688,E.T. the Extra-Terrestrial,1982,115 min,"Family, Sci-Fi",7.8,A troubled child summons the courage to help a...,Steven Spielberg,Henry Thomas,Drew Barrymore,"435,110,554"
832,Empire of the Sun,1987,153 min,"Action, Drama, History",7.7,A young English boy struggles to survive under...,Steven Spielberg,Christian Bale,John Malkovich,"22,238,696"
890,Bridge of Spies,2015,142 min,"Drama, History, Thriller",7.6,"During the Cold War, an American lawyer is rec...",Steven Spielberg,Tom Hanks,Mark Rylance,"72,313,754"
951,Minority Report,2002,145 min,"Action, Crime, Mystery",7.6,In a future where a special police unit is abl...,Steven Spielberg,Tom Cruise,Colin Farrell,"132,072,926"
988,Close Encounters of the Third Kind,1977,138 min,"Drama, Sci-Fi",7.6,"Roy Neary, an electric lineman, watches how hi...",Steven Spielberg,Richard Dreyfuss,François Truffaut,"132,088,635"

,Movie_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Revenue
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,"534,858,444"
8,Inception,2010,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,"292,576,195"
21,Interstellar,2014,169 min,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,Christopher Nolan,Matthew McConaughey,Anne Hathaway,"188,020,017"
36,The Prestige,2006,130 min,"Drama, Mystery, Sci-Fi",8.5,"After a tragic accident, two stage magicians e...",Christopher Nolan,Christian Bale,Hugh Jackman,"53,089,891"
63,The Dark Knight Rises,2012,164 min,"Action, Adventure",8.4,Eight years after the Joker's reign of anarchy...,Christopher Nolan,Christian Bale,Tom Hardy,"448,139,099"
69,Memento,2000,113 min,"Mystery, Thriller",8.4,A man with short-term memory loss attempts to ...,Christopher Nolan,Guy Pearce,Carrie-Anne Moss,"25,544,867"
155,Batman Begins,2005,140 min,"Action, Adventure",8.2,"After training with his mentor, Batman begins ...",Christopher Nolan,Christian Bale,Michael Caine,"206,852,432"
573,Dunkirk,2017,106 min,"Action, Drama, History",7.8,"Allied soldiers from Belgium, the British Empi...",Christopher Nolan,Fionn Whitehead,Barry Keoghan,"188,373,161"

### (e) Concatenate Data

Concatenate the datasets you created in (d) to a new dataset titled **"movies_concat"**.

Display the resulting dataset **"movies_concat"**.

In [21]:
# Write your own code
movies_concat = pd.concat([movies_spielberg, movies_nolan])
display(movies_concat.head())

,Movie_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Director,Star1,Star2,Revenue
7,Schindler's List,1993,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,"96,898,818"
24,Saving Private Ryan,1998,169 min,"Drama, War",8.6,"Following the Normandy Landings, a group of U....",Steven Spielberg,Tom Hanks,Matt Damon,"216,540,909"
72,Raiders of the Lost Ark,1981,115 min,"Action, Adventure",8.4,"In 1936, archaeologist and adventurer Indiana ...",Steven Spielberg,Harrison Ford,Karen Allen,"248,159,971"
168,Indiana Jones and the Last Crusade,1989,127 min,"Action, Adventure",8.2,"In 1938, after his father Professor Henry Jone...",Steven Spielberg,Harrison Ford,Sean Connery,"197,171,806"
243,Catch Me If You Can,2002,141 min,"Biography, Crime, Drama",8.1,"Barely 21 yet, Frank is a skilled forger who h...",Steven Spielberg,Leonardo DiCaprio,Tom Hanks,"164,615,351"